
body {
    font-family: 'Crimson Text', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#1E0606;
    font-style: normal;
    

}

button {
	display: flex;
flex-direction: row;
align-items: center;
padding: 9px 22px;

position: absolute;
width: 149px;
height: 40px;
left: 710px;
top: 1705px;
background: #000000;
}


/*header*/

.logo{
  margin: 60px;
	position: absolute;
  left: -0.25%;
  right: 91.76%;
  top: 0%;
  bottom: 0%;


}





.header-menu > a{
  position: absolute;
left: 13.34%;
right: 83.43%;
top: 30.77%;
bottom: 30.77%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-transform: uppercase;

}



.dots-none li {
    list-style-type: none;
}

.navi-point {
  position: absolute;
left: 13.34%;
right: 83.43%;
top: 30.77%;
bottom: 30.77%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
text-transform: uppercase;

}
