.toys-maintitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
}

/* .bread-crumbs */

.bread-crumbs {
  display: flex;
  padding: 0;
}

.bread-crumbs li {
  padding-right: 20px;
  font-family: Crimson Text;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

.bread-crumbs li:last-child {
  opacity: 0.5;
}

/* order-conditions */

form {
  display: flex;
  margin-top: 50px;
  position: relative;
}

.wrapper_form {
  background-color: rgba(125, 151, 218, 0.2);
}

legend {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

fieldset {
  border: none;
  margin-right: 35px;
  margin-top: 42px;
}

fieldset ul {
  padding: 0px;
}

fieldset span {
  margin-top: 16px;
}

.cost {
  display: flex;
  align-items: flex-start;
  padding: 0;
  position: relative;
  padding-top: 18px;
}

.cost span {
  display: block;
  margin-top: 20px;
}

.cost-min {
  position: absolute;
}

.cost-max {
  position: absolute;
  left: 117px;
}

input[type="range"] {
  height: 3px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animation: 0.2s;
  background: rgba(194, 153, 116, 1);
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  border: 6px solid #f3c846;
  height: 19px;
  width: 19px;
  border-radius: 17px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animation: 0.2s;
  box-shadow: 2px 2px 1px #353535;
  background: #f66d52;
  border-radius: 5px;
  border: 1px solid #f3c846;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 2px 2px 1px #353535;
  border: 1px solid #f3c846;
  height: 15px;
  width: 15px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #f66d52;
  border: 1px solid #f3c846;
  border-radius: 16px;
  box-shadow: 2px 2px 1px #353535;
}
input[type="range"]::-ms-fill-upper {
  background: #f66d52;
  border: 1px solid #f3c846;
  border-radius: 16px;
  box-shadow: 2px 2px 1px #353535;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 2px 2px 1px #353535;
  border: 1px solid #f3c846;
  height: 15px;
  width: 15px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #f66d52;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #f66d52;
}

.color {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 18px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  margin-left: 2px;
}
.color:hover {
  text-decoration-line: underline;
}


.color input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -14px;
  left: 0;
  height: 22px;
  width: 23px;
  border: 3px solid #c29974;
  /*   background-color: #eee; */
}

.color:hover input ~ .checkmark {
  background-color: rgba(237, 222, 235, 1);
}

.color input:checked ~ .checkmark {
  border-color: #c29974;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.color input:checked ~ .checkmark:after {
  display: block;
}

.color .checkmark:after {
  left: 2px;
  top: -7px;
  width: 12px;
  height: 13px;
  border: solid #c29974;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* .product-cards */

.product-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.product-cards a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-cards li {
  position: relative;
  display: flex;
  align-items: center;
}

li:hover .product-cards__hover {
  display: block;
}
.product-cards__hover {
  font-size: 26px;
  line-height: 29px;
  font-family: Montserrat;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  position: relative;
  top: 180px;
  cursor: pointer;
  display: none;
}

.product-cards__hover:before {
  content: "";
  position: absolute;
  background: #e5eaf8;
  opacity: 0.9;
  width: 207px;
  height: 207px;
  z-index: -1;
  transform: translate(-12%, -34%);
}

.product-cards__pic {
  z-index: -2;
}

.cards_price {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.checkbox-btn-group {
  display: flex;
}
.checkbox-btn-group:after {
  content: "";
  clear: both;
  display: block;
}
.checkbox-btn-group label {
  display: inline-block;
  margin: 0;
  user-select: none;
  position: relative;
}
.checkbox-btn-group input[type="checkbox"] {
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.checkbox-btn-group span {
  display: inline-block;
  cursor: pointer;
  padding: 7px 28px;
  font-size: 16px;
  line-height: 22px;
  border: none;
  transition: background 0.2s ease;
}

/* Checked */
.checkbox-btn-group input[type="checkbox"]:checked + span {
  background: rgba(243, 208, 219, 1);
}

/* /* Focus */
.checkbox-btn-group .focused span {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Hover */
.checkbox-btn-group label:hover {
  color: #666;
}

/* Active */
.checkbox-btn-group input[type="checkbox"]:active + span {
  background: rgba(237, 222, 235, 0.5);
  color: #000;
}

.checkbox-btn-group input[type="checkbox"]:checked:disabled + span {
  background: #f7efdc;
}

.method-delivery {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.method-delivery li {
  list-style-type: none;
  margin-bottom: 15px;
}

.method-delivery li label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 16px;
}

.method-delivery li label:hover {
  text-decoration-line: underline;
}

.method-delivery li label:active {
  text-decoration-line: underline;
}

.method-delivery li input[type="radio"] {
  display: none;
}

.method-delivery li label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  border: 3px solid rgba(194, 153, 116, 1);

  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
}

.method-delivery label:before {
  border-radius: 9px;
}

.method-delivery li input[type="radio"]:checked + label:before {
  content: "\2022";
  color: rgba(194, 153, 116, 1);
  font-size: 45px;
  text-align: center;
  line-height: 15px;
}

.form_button {
  max-width: 95px;
  max-height: 40px;
  padding: 9px 22px;
  margin-top: 45px;
  margin-top: 79px;
}

/* wrapper_pagination */

.wrapper_pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 67px;
  margin-top: 53px;
}

.wrapper_pagination ul {
  display: flex;
  padding-left: 100px;
}

.pagination_page {
  margin-right: 67px;
}

.pagination_page:hover {
  opacity: 0.3;
}


.pagination_page a {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 20px;
}

.pagination_page:first-child a {
  color: rgba(194, 153, 116, 1);
}

.pagination_button-nxtpage{
  stroke: #000;
}

.pagination_button-nxtpage:hover{
  stroke: rgb(248, 143, 51) ;
  stroke-width: 4px;
  cursor: pointer;
  
}
